.fenster{
	min-width: 220px;
	min-height: 120px;
	display: block;
	position: absolute;
	margin: 0px auto;
	background-color: #D7D7D7;
	background: transparent linear-gradient(to bottom, #fff,  lightgrey) repeat scroll 0% 0%;
	box-shadow: 2px 2px 2px grey;
	padding: 0px;
	
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 1px solid grey;
	color: black;
}

.meldungsbox_bereich_button{
	padding: 15px;
}

.content_meldungsbox{
	margin-top: 30px;
	text-align: center;
}

.icon_fenster{
	height: 16px;
}

.fenster_kopf{
	padding: 8px;
	color: #000;
	cursor: move;
	/*background-color:#C7BFD9;*/
	background-color: #000;
	background: transparent linear-gradient(to bottom, #FFF, #D3D3D3) repeat scroll 0% 0%;
}

html body{
	background-color: #3E0A55;
	font-size: 16px;
	touch-action: none;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;	
	background-image: url('../bilder/hintergrund.JPG');
}

.bereich_fenster_buttons{
	display: inline-block;
	float: right;	
	padding-right: 5px;
	padding-left: 10px;
}

.clear_right{
	clear: right;
}

.clear_left{
	clear: left;
}

.fensterbutton{
	background-image: url('../bilder/fenster_button1.png');
	display: inline-block;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin-left: 7px;
}

.fensterbutton_schliessen{
	background-position: -48px 0px;
}


.fensterbutton:HOVER {
	background-image: url('../bilder/fenster_button_dunkel1.png');
}

.fensterbutton:ACTIVE {
	background-image: url('../bilder/fenster_button1_rot.png');
}

.fensterbutton_maximieren{
	background-position: -15px 0px;
}

.fensterbutton_minimieren{
	background-position: 0px 0px;
}

.content{
	padding: 0px 15px 15px 15px;
}

.startmenu_leiste_platzhalter{
	height: 36px;
	position: absolute;
	z-index: 0;
	width: 100%;
	left: 0px;
	top:11px;
	display: table;
	min-width: 500px;
}

.startmenue_platzhalter_links{
	display: table-cell;
	width: 128px;
}

.startmenue_platzhalter_leiste{
	display: table-cell;
	background-color: #D7D7D7;
	background: transparent linear-gradient(to bottom, #fff,  lightgrey) repeat scroll 0% 0%;
	box-shadow: 2px 2px 2px grey;
	border-radius: 6px 0px 0px 6px;
}

.startmenue_content_aufteiler{
	display: table;
	height: 100%;
	width: 100%;
}

.startknopf_platzhalter{
	display: table-cell;
	vertical-align: middle;
	width: 115px;
	letter-spacing: 3px;
	color: #6F2E9B;
	font-weight: bold;
	font-size:20px;
	cursor: pointer;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	text-align: center;
}

.login_ueberschrift{
	letter-spacing: 3px;
	color: #6F2E9B;
	font-weight: bold;
	font-size:20px;
	cursor: pointer;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	text-align: center;
	height: 36px;
}

#startknopf_button_leiste:hover{
	color: #176265;
	background-color: #D5D5D5;
	border-radius: 6px 0px 0px 6px;
}

.startleiste_geoeffnete_fenster{
	display: table-cell;
	vertical-align: middle;
}

#startmenue_uhr{
	display: table-cell;
	width: 65px;
	vertical-align: middle;
	font-size: 18px;
	text-align: right;
	padding-right: 15px;
	color: #6F2E9B;
	cursor: pointer;
}

.menue{
	
	position: absolute;
	width: 350px;
	z-index: 99999;
	margin-left: -5px;
	visibility: hidden;
}

#startknopf_button_leiste:hover > .menue{
	visibility: visible;
}

#startknopf_button_leiste{
	letter-spacing: 3px;
	color: #6F2E9B;
	font-weight: bold;
	font-size:20px;
	cursor: pointer;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	text-align: center;
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	top: 10px;
	left:128px;
	padding: 5px;
}

.platzhalter_menu_leiste{
	height: 10px;
}

.menu_content{
	border: 1px solid;
	min-height: 64px;
	color: #6F2E9B;
	border-color: #6F2E9B;
	background-color: #C7BFD9;
	box-shadow: 2px 2px 2px grey;
	border-radius: 0px 0px 6px 6px;
	cursor:default;
	padding: 15px;
	text-align: left;
}

.login_formularzeile{
	margin-top: 5px;
}

.login_formularzeile label{
	display: inline-block;
	width: 130px;
}

.login_formularzeile .eingabefeld{
	margin-left: 25px;
	width: 225px;
}

#login_form{
	border: solid 1px;
	width: 350px;
	padding: 20px;
	background-color: #D7D7D7;
	background: transparent linear-gradient(to bottom, #fff,  lightgrey) repeat scroll 0% 0%;
	border-radius: 6px 6px 6px 6px;
	margin: 90px auto;
	box-shadow: 2px 2px 2px grey;
}

#LoginButton{
	float: right;
}

#LoginFehler{
	color: red;
	padding: 10px;
}

input{
	font-size: 14px;
}


/* Fenster Benutzerverwaltung */
.admin_benutzeruebersicht_content_aufteiler{
	display: table;
	width: 100%;
	margin-top: 10px;
}

.neuerbenutzer_formularzeile{
	margin-top: 5px;
}

.neuerbenutzer_formularzeile label{
	width: 110px;
	display: inline-block;
}

.neuerbenutzer_formularzeile input{
	width: 220px;
}

.neuerbenutzer_formularzeile .neuerbenutzer_namenfelder{
	width: 150px;
}

.neuerbenutzer_formularzeile .neuerbenutzer_label_name{
	width: auto;
	padding-right: 15px;
	margin-left: 15px;
}

.neuerbenutzer_box_rechte{
	background-color: #fff;
	border: 1px  inset;
	height: 105px;
	color: black;
	overflow: scroll;
	width: 540px;
	margin-top: 5px;
}

.neuerbenutzer_ueberschrift_bereich_rechte{
	margin-top: 10px;
}

.benutzer_radio{
	display: none;
}

#admin_benutzeruebersicht_liste_tabelle{
	display: table;
}

.benutzer_radio:checked + .div_tabelle_zeile{
	background-color: #C7BFD9;
}

.benutzer_radio + .div_tabelle_zeile:hover{
	background-color: #90C9CB;
}

#admin_benutzeruebersicht_liste_tabelle .div_tabelle_zeile{
	display: table-row;
}

#admin_benutzeruebersicht_liste_tabelle .div_tabelle_zelle{
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
	border: 1px solid #888A85;
	white-space:nowrap;
}

#admin_benutzeruebersicht_liste_tabelle .div_tabelle_zelle_kopf{
		background-color: #D7D7D7; 
}

.admin_benutzeruebersicht_content_bereich_benutzerauflistung{
	display: table-cell;
	width: 260px;
	vertical-align: top;
}

.admin_benutzeruebersicht_content_bereich_buttons{
	display: table-cell;
	width: 143px;
	text-align: center;
	vertical-align: top;
}

.ueberschrift_content_fenster{
	font-size: 14px;
}



#admin_benutzeruebersicht_liste{
	margin-top: 5px;
	height: 240px;
	border: 1px inset;
	background-color: white;
	overflow: scroll;
	width:437px;
}

.button_benutzerverwaltung{
	width: 132px;
	display: block;
	margin: 5px auto;
}

.admin_benutzeruebersicht_platzierung{
	margin-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

.button_schliessen_gross_fenster{
	margin-top: 15px;
	float: right;
}

.button_schliessen_benutzerverwaltung{
	margin-top: 30px;
	float: right;
	margin-right: 5px;
}

.button_box_rechts{
	float: right;
	margin-top: 15px;
	padding: 0px;
}

.button_box_rechts input{
	width: 132px;
}


/* Abmelde Button */
.startleiste_abmelde_button{
	display: table-cell;
	vertical-align: middle;
}

#abmelde_button {
	float: right;
	color: #6F2E9B;
	cursor: pointer;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	font-size: 18px;
	border: none;

	
}

#abmelde_button:HOVER{
	color: #176265;
	background-color: #D5D5D5;
	border-radius: 6px 6px 6px 6px;
}

#fenster_bereich_desktop{
	color: white;
	margin-top: 55px;
}

.icon_task_leiste{
	padding: 5px;
	border-radius: 6px 6px 6px 6px;
	height: 22.5px;
}

.icon_task_leiste:hover{
	color: #176265;
	background-color: #D5D5D5;
}

.icon_task_leiste_markiert{
	background-color: #C7BFD9;
}

.icon_start_leiste{
	padding: 5px;
	border-radius: 6px 6px 6px 6px;
	height: 26px;
}

.icon_start_leiste:hover{
	color: #176265;
	background-color: #D5D5D5;
}



/* Fenster Benutzer anlegen */
.standard_fenster_content{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.formular_bereich_neuer_benutzer{
	margin-top: 15px;
}

.fehlermeldung_in_std_fenster{
	margin-top:15px;
}

.tabelle_rechte{
	display: table;
}

.label_rechte, .checlbox_rechte{
	display: table-cell;
}

.neuerbenutzer_box_rechte #admin_benutzeruebersicht_liste_tabelle{
	width: 542px;
}

.div_tabelle_zeile .ueberschrift_checkbox{
	width: 16px;
}

.neuerbenutzer_formularzeile input{
	border: 1px solid;
}

.bestaetigungsbox_bereich_button{
	margin-top: 15px;
	float: right;
	padding-right: 10px;
}

.bestaetigungsbox_bereich_button input{
	width: 132px;
}



/* Fenster neues Ticket anlegen */

.textarea_neuesTicket_beschreibung{
	width: 565px;
	height: 155px;
	resize: none;
	overflow:scroll;
}

.button_ticket_anlegen{
	float:right;
	padding-bottom: 10px; 
}

.ueberschrift_content_neuesTicket, .bereich_comboboxen_neuesTicket{
	font-size: 14px;
	margin-top: 10px;
}

.label_comboboxen_neuesTicket{
	width:90px;
	display: inline-block;
}


.input_titel_neuesTicket{
	width: 565px;
}

.BereichRadioAuswahlAendern label, .BereichRadioAuswahlAendern input{
	display: table-cell;
}

.BereichRadioAuswahlAendern input{
	width: 20px;
}

.BereichRadioAuswahlAendern{
	display: table;
	margin-top: 2px;
}

.start_menue_icon_auflistung{
	margin-top: 10px;
	text-align: center;
}

.icon_text_kombination_-_icon{
	display: block;
	text-align: center;
	height: 26px;
	margin: 0px auto;
}

.admin_ticketanzeigen_platzierung{
	margin-left: 6px;
}

.icon_text_kombination{
	display: inline-block;
	padding: 5px;
}

.icon_text_kombination_-_text{
	font-size: 12px;
	text-align: center;
	letter-spacing: 0px;
	margin-top: 5px;
}

.icon_text_kombination:hover{
	color: #176265;
	background-color: #D5D5D5;
	border-radius: 6px;
}	

.icon_text_kombination_-_text_startmenu{
	color: black;
	text-shadow: 2px 2px 2px #fff;
}

.icon_text_kombination_-_text_desktop{
	color:#fff;
}

.desktop_icons{
	width: 128px;
	display: block;
	margin-top: 10px;
	text-shadow: 2px 2px 2px #000;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
}

.bereich_desktop_icons{
	padding-top: 15px;
}

.input_titel_neuesTicket, .textarea_neuesTicket_beschreibung{
	border: solid 1px black;
}

/* Fenster Ticket anzeigen */
.ueberschrift_content_TicketAnzeigen_Neu {
	font-size: 17px;
	text-decoration: underline;
	color: green;
}

.ueberschrift_contentTicketAnzeigen {
	font-size: 18px;
	margin-top: 10px;
	
}

.ueberschrift_contentTicketAnzeigen_titel {
	font-size: 18px;
}

.inhalt_contentTicketAnzeigen {
	font-size: 16px;
	margin-top: 5px;
	background-color: white;
	padding: 4px;
	border-radius: 2px;
	border: 1px solid gray;
	
}

.inhalt_contentTicketAnzeigen_beschreibung {
	overflow: scroll;
    height: 80px;
    margin-top: 5px;
}


/* Fenster Ticket Verwaltung */

.uebersicht_ticket_content_aufteiler {
	display: table;
	width: 100%;
	margin-top: 10px;
}

.uebersicht_ticket_content_bereich_ticketauflistung {
	display: table-cell;
	width: 260px;
	vertical-align: top;
}

#uebersicht_ticket_liste{
	margin-top: 5px;
	height: 240px;
	border: 1px inset;
	background-color: white;
	overflow: scroll;
	width:437px;
}


#uebersicht_ticket_liste_tabelle {
	display: table;
}

#uebersicht_ticket_liste_tabelle .div_tabelle_zeile{
	display: table-row;
}

#uebersicht_ticket_liste_tabelle .div_tabelle_zelle{
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
	border: 1px solid #888A85;
	white-space:nowrap;
}

#uebersicht_ticket_liste_tabelle .div_tabelle_zelle_kopf{
		background-color: #D7D7D7; 
}

.button_ticket_anzeigen {
	float:right; 
	padding-bottom: 10px;
	margin-top:60px; 
}

.contentTicketAnzeigen_inlineBlock {
	display:inline-block;
}

.ticket_verwaltung_content_bereich_buttons{
	display: table-cell;
	width: 143px;
	vertical-align: top;
}

.ticket_radio:checked + .div_tabelle_zeile{
	background-color: #C7BFD9;
}

.ticket_radio + .div_tabelle_zeile:hover{
	background-color: #90C9CB;
}

.ticket_radio{
	display: none;
}


.button_ticketanzeigen{
	width: 132px;
	display: block;
	margin: 5px auto;
	
}

.buttonaufteilung_ticketanzeigen{
	height: 50px;
	display: table-row;
	margin: 5px auto;
	height: 60px;
}

.ticketanzeigen_platzierung{
	margin-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	display: table;
}

.button_nonvisible {
	visibility: hidden;
	
}

.button_schliessen_ticketanzeigen{
	margin-top: 30px;
	float: right;
	margin-right: 5px;
}
