.fenster{
	min-width: 220px;
	min-height: 120px;
	display: block;
	position: absolute;
	margin: 0px auto;
	background-color: white;
	background: transparent linear-gradient(to bottom, #fff,  lightgrey) repeat scroll 0% 0%;
	box-shadow: 2px 2px 2px grey;
	border-radius: 6px 6px 0px 0px;
	padding: 0px;
	
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.fenster_kopf{
	padding: 8px;
	font-size: 13px;
	color: #000;
	cursor: move;
}

html body{
	background-color: lightblue;
}

.bereich_fenster_buttons{
	display: inline-block;
	float: right;	
	padding-right: 5px;
	padding-left: 10px;
}

.clear_right{
	clear: right;
}


.fensterbutton{
	background-image: url('../bilder/fenster_button.png');
	display: inline-block;
	background-repeat: no-repeat;
	width: 14px;
	height: 13px;
	cursor: pointer;
}

.fensterbutton_schliessen{
	background-position: -30px 0px;
}


.fensterbutton:HOVER {
	background-image: url('../bilder/fenster_button_dunkel.png');
}

.fensterbutton:ACTIVE {
	background-image: url('../bilder/fenster_button_rot.png');
}

.fensterbutton_maximieren{
	background-position: -15px 0px;
}

.fensterbutton_minimieren{
	background-position: 0px 0px;
}

.content{
	padding: 0px 15px 15px 15px;
}

.startmenu_leiste_platzhalter{
	height: 36px;
	position: fixed;
	z-index: 0;
	width: 100%;
	left: 0px;
	top:11px;
	display: table;
}

.startmenue_platzhalter_links{
	display: table-cell;
	width: 128px;
}

.startmenue_platzhalter_leiste{
	display: table-cell;
	background-color: white;
	background: transparent linear-gradient(to bottom, #fff,  lightgrey) repeat scroll 0% 0%;
	box-shadow: 2px 2px 2px grey;
	border-radius: 6px 0px 0px 6px;
}