.fenster{
	min-width: 220px;
	min-height: 120px;
	display: block;
	position: absolute;
	margin: 0px auto;
	background-color: #D7D7D7;
	background: transparent linear-gradient(to bottom, #fff,  lightgrey) repeat scroll 0% 0%;
	box-shadow: 2px 2px 2px grey;
	padding: 0px;
	
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 1px solid grey;
	color: black;
}

.fenster_kopf{
	padding: 8px;
	font-size: 13px;
	color: #000;
	cursor: move;
	background-color:#C7BFD9;
}

html body{
	background-color: #3E0A55;
	font-size: 16px;
}

.bereich_fenster_buttons{
	display: inline-block;
	float: right;	
	padding-right: 5px;
	padding-left: 10px;
}

.clear_right{
	clear: right;
}


.fensterbutton{
	background-image: url('../bilder/fenster_button1.png');
	display: inline-block;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin-left: 7px;
}

.fensterbutton_schliessen{
	background-position: -48px 0px;
}


.fensterbutton:HOVER {
	background-image: url('../bilder/fenster_button_dunkel1.png');
}

.fensterbutton:ACTIVE {
	background-image: url('../bilder/fenster_button_rot.png');
}

.fensterbutton_maximieren{
	background-position: -15px 0px;
}

.fensterbutton_minimieren{
	background-position: 0px 0px;
}

.content{
	padding: 0px 15px 15px 15px;
}

.startmenu_leiste_platzhalter{
	height: 36px;
	position: absolute;
	z-index: 0;
	width: 100%;
	left: 0px;
	top:11px;
	display: table;
	min-width: 500px;
}

.startmenue_platzhalter_links{
	display: table-cell;
	width: 128px;
}

.startmenue_platzhalter_leiste{
	display: table-cell;
	background-color: #D7D7D7;
	background: transparent linear-gradient(to bottom, #fff,  lightgrey) repeat scroll 0% 0%;
	box-shadow: 2px 2px 2px grey;
	border-radius: 6px 0px 0px 6px;
}

.startmenue_content_aufteiler{
	display: table;
	height: 100%;
	width: 100%;
}

.startknopf_platzhalter{
	display: table-cell;
	vertical-align: middle;
	width: 115px;
	letter-spacing: 3px;
	color: #6F2E9B;
	font-weight: bold;
	font-size:20px;
	cursor: pointer;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	text-align: center;
}

.login_ueberschrift{
	letter-spacing: 3px;
	color: #6F2E9B;
	font-weight: bold;
	font-size:20px;
	cursor: pointer;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	text-align: center;
	height: 36px;
}

#startknopf_button_leiste:hover{
	color: #176265;
	background-color: #D5D5D5;
	border-radius: 6px 0px 0px 6px;
}

.startleiste_geoeffnete_fenster{
	display: table-cell;
	vertical-align: middle;
}

#startmenue_uhr{
	display: table-cell;
	width: 65px;
	vertical-align: middle;
	font-size: 18px;
	text-align: right;
	padding-right: 15px;
	color: #6F2E9B;
	cursor: pointer;
}

.menue{
	
	position: absolute;
	width: 640px;
	z-index: 99999;
	margin-left: -5px;
	visibility: hidden;
}

#startknopf_button_leiste:hover > .menue{
	visibility: visible;
}

#startknopf_button_leiste{
	letter-spacing: 3px;
	color: #6F2E9B;
	font-weight: bold;
	font-size:20px;
	cursor: pointer;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	text-align: center;
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	top: 10px;
	left:128px;
	padding: 5px;
}

.platzhalter_menu_leiste{
	height: 10px;
}

.menu_content{
	border: 1px solid;
	min-height: 64px;
	color: #fff;
	border-color: #6F2E9B;
	background-color: #C7BFD9;
	box-shadow: 2px 2px 2px grey;
	border-radius: 0px 0px 6px 6px;
	cursor:default;
	padding: 15px;
	text-align: left;
}

.login_formularzeile{
	margin-top: 5px;
}

.login_formularzeile label{
	display: inline-block;
	width: 130px;
}

.login_formularzeile .eingabefeld{
	margin-left: 25px;
	width: 225px;
}

#login_form{
	border: solid 1px;
	width: 350px;
	padding: 20px;
	background-color: #D7D7D7;
	background: transparent linear-gradient(to bottom, #fff,  lightgrey) repeat scroll 0% 0%;
	border-radius: 6px 6px 6px 6px;
	margin: 90px auto;
	box-shadow: 2px 2px 2px grey;
}

#LoginButton{
	float: right;
}

#LoginFehler{
	color: red;
	padding: 10px;
}

input{
	font-size: 14px;
}


/* Fenster Benutzerverwaltung */
.admin_benutzeruebersicht_content_aufteiler{
	display: table;
	width: 100%;
	margin-top: 15px;
}

.admin_benutzeruebersicht_content_bereich_benutzerauflistung{
	display: table-cell;
	width: 260px;
	vertical-align: top;
}

.admin_benutzeruebersicht_content_bereich_buttons{
	display: table-cell;
	width: 143px;
	text-align: center;
	vertical-align: top;
}

.ueberschrift_content_fenster{
	font-size: 14px;
}

#admin_benutzeruebersicht_liste{
	margin-top: 5px;
	height: 200px;
	border: 1px inset;
	background-color: white;
	overflow: scroll;
}

.button_benutzerverwaltung{
	width: 132px;
	display: block;
	margin: 5px auto;
}

.admin_benutzeruebersicht_platzierung{
	margin-top: 30px;
}

.button_schliessen_gross_fenster{
	margin-top: 15px;
	float: right;
}


/* Abmelde Button */
.startleiste_abmelde_button{
	display: table-cell;
	vertical-align: middle;
}

#abmelde_button {
	float: right;
	color: #6F2E9B;
	cursor: pointer;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	font-size: 18px;

	
}

#abmelde_button:HOVER{
	color: #176265;
	background-color: #D5D5D5;
	border-radius: 6px 6px 6px 6px;
}

#fenster_bereich_desktop{
	color: white;
	margin-top: 55px;
}